@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  /*padding: 4rem 0;*/
  padding: 0px 0;
}

@media (max-width:1440px) {
  #tranding {
    /*padding: 7rem 0;*/
    padding: 0px 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}







@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
:root{
  --dark-color: hsl(0,0%,0%);
  --gray-color: hsl(0,0%,60%);
  --light-color: hsl(0,0%,100%);
  --border-color-dark: hsl(10,95%,70%);
  --border-color-normal: hsl(10,95%,83%);
  --border-color-light: hsl(10,95%,93%);
}
*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */
a{
  text-decoration: none;
  transition: .25s;
}
button{
  background: transparent;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  font-size: .875em;
  font-weight: 600;
  height: 2em;
  letter-spacing: -.025em;
  text-transform: uppercase;
  transition: .25s;
}
button:hover{
  color: var(--gray-color);
}
header{
  min-height: 10vh;
}
img{
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
}
/*p{
  color: var(--gray-color);
  font-size: .875em;
  hyphens: auto;
  line-height: 1.5;
  margin: 1em 0;
}*/

/* CONTAINERS STYLES */
/*.container{
  padding: 0 1em;
}*/
.flex-container{
  display: flex;
}

/* HEADER NAV */
.logo-link{
  color: var(--dark-color);
  font-weight: 600;
  letter-spacing: .125em;
  text-transform: uppercase;
}
.header-nav{
  align-items: center;
  flex-direction: column;
}
.header-menu{
  flex-wrap: wrap;
  justify-content: center;  
  padding: .75em 0;
}
.header-menu-link{
  color: var(--gray-color);
  display: block;
  font-size: .75em;
  font-weight: 500;
  padding: .5em .75em;
  text-transform: uppercase;
}
.header-menu-link:hover{
  color: var(--dark-color);
  text-decoration: underline;
}
.ghost-button{
  border: .125em solid var(--gray-color);
  min-width: 9em;
  padding: 0 1em;
}
.ghost-button:hover{
  background: var(--gray-color);
  color: var(--light-color);
}

/* HEADER CONTENT */
.header-img{
  border-radius: 50%;
  box-shadow: 0 0 0 .5em var(--border-color-dark),
              0 0 0 1em var(--border-color-normal),
              0 0 0 1.5em var(--border-color-light);
  height: 15em;
  margin: 2em auto;
  overflow: hidden;
  width: 15em;
}
.header-description{
  margin: auto;
  max-width: 30em
}
.header-title{
  font-size: 2.5em;
  letter-spacing: -.025em;
  line-height: 1.25;
  margin-left: -.0625em;
}
.type-button{
  margin-top: 1.5em;
}
.type-button:after{
  content: " ▬";
  margin-left: .5em;
  vertical-align: .0715em;
}

@media only screen and (min-width: 1024px){ 
  /* GLOBAL STYLES */
  header{
    overflow: hidden;
  } 
  img{
    object-position: 50% 100%;
  }
  
  /* CONTAINERS STYLES */
  .container-header{
    padding: 1em;
  }
  
  /* HEADER NAV */
  .header-nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .header-menu-link{
    padding: 0 1.5em;
  }
  .ghost-button{
    font-size: .75em;
  } 
  
  /* HEADER CONTENT */
  .header-content{
    position: relative;
  }
  .header-img{
    box-shadow: 0 0 0 2em var(--border-color-dark),
              0 0 0 4em var(--border-color-normal),
              0 0 0 6em var(--border-color-light);
    height: 55vw;
    margin: 0;
    position: absolute;
    right: -16vw;
    top: 0vw;
    width: 55vw;
  } 
  .header-description{
    margin: 6em 3em 0;
    max-width: 50vw;
  }
  .header-title{
    font-size: calc(1vw + 2.5em);
  }
}

@media only screen and (orientation: portrait) and (min-height: 1024px){
  .header-content{
    margin-top: 15vh;
  }
}





/* Calendar Section Styles */
.calendar-section {
    text-align: center;
    margin: 50px;
    background-color: #f8edeb;
    padding: 20px;
    border-radius: 10px;
}

.center-align {
    text-align: center;
}

.newline {
    display: block;
    margin-bottom: 1em;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}


